In [1]:
import pandas as pd

In [2]:
names = ["electron_sector", "w", "q2", "theta", "phi", "mm2", "helicty", "type", "hash"]
dtype={"electron_sector": "int8", "helicty": "int8", "w": "float32", "q2": "float32", "theta": "float32", "phi": "float32", "mm2": "float32", "type": "category"}
df = pd.read_csv("/Users/tylern/Data/ntuple/test_e1f.csv", names=names, index_col=False, dtype=dtype)

In [3]:
df.head()

,electron_sector,w,q2,theta,phi,mm2,helicty,type,hash
0,5,1.44407,0.956499,0.984369,0.268892,0.881017,1,thrown,af6ded061f92e8bd
1,5,1.48541,0.935162,1.580650,3.826140,0.902442,1,thrown,80bdf0c57a0e18ea
2,5,1.45978,0.909779,1.247890,2.213470,0.887796,1,thrown,53f274f760918563
3,3,1.70176,0.925147,0.421457,4.947000,0.881994,-1,thrown,8f8dd2ce8a43a312
4,4,1.64896,1.274580,0.480194,6.100780,0.894600,-1,thrown,1d1e7007cab0058c

In [11]:
df.to_feather("/Users/tylern/Data/ntuple/test_e1f.feather", compression_level=9)

TypeError: to_feather() got an unexpected keyword argument 'compression_level'

In [9]:
x = pd.read_feather("/Users/tylern/Data/ntuple/test_e1f.feather")

In [10]:
x.head()

,electron_sector,w,q2,theta,phi,mm2,helicty,type,hash
0,5,1.44407,0.956499,0.984369,0.268892,0.881017,1,thrown,af6ded061f92e8bd
1,5,1.48541,0.935162,1.580650,3.826140,0.902442,1,thrown,80bdf0c57a0e18ea
2,5,1.45978,0.909779,1.247890,2.213470,0.887796,1,thrown,53f274f760918563
3,3,1.70176,0.925147,0.421457,4.947000,0.881994,-1,thrown,8f8dd2ce8a43a312
4,4,1.64896,1.274580,0.480194,6.100780,0.894600,-1,thrown,1d1e7007cab0058c

In [12]:
pd.__version__

'1.0.5'